:root{
 --colorDominator:rgb(200, 12, 97);
}
*{
 padding: 0;
 margin: 0;
}
#linkR{
 /* width: 50px; */
 padding: 10px 50px;
 display: inline;
 border-radius: 10px;
 border-width: 5px;
 border-style: solid;
 color: var(--colorDominator);
  /* width: 30%; */
  min-width: 150px;
  background: #eee;
  margin: 5px 10px;
  border: 1px solid #aaa;
  text-align: center;
  text-decoration: none;
  box-shadow: -2px -2px 2px #fff , 2px 2px 2px #bbb;
}
html{
 width: 100%;
 height: 100%;
}
body{
 background: #eee;
 width: 100%;
 /* border: 5px solid #F00; */
 height: 100%;
 
 /* background-image: url("https://syncrovr.com/wp-content/uploads/2020/01/social-media-mobile-icons-snapchat-facebook-instagram-ss-1920.jpg"); */
}
img{
 display: none;
}
.container{
 border: 2px solid #aaa;
width: 80%;
height: 80%;
 margin: auto;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 position: absolute;
 /* filter: blur(10px); */
 box-shadow: -5px -5px 5px #fff , 5px 5px 5px #bbb ;
/*  overflow: scroll; */
}
.UserInforContainer{
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 align-content: center;
 justify-content: flex-start;
 align-items: center;
}
.UserImage{
 margin: 50px 20px 50px  20px;
 width: 200px;
 height: 200px;
 border: #aaa 10px solid;
 border-radius: 50%;
 background-size: cover;
 
 background-position: center;
 
}

.linkcontainer{
 display: flex;
 flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   /* overflow-y: scroll; */
   height: 200px;

}

.instragram{
 background: linear-gradient(#f0a,#f00,#ff0);

}
.facebook{
 background: #0af;
}











/* //////////////////////////////////////////////////////////////////////////////////////// */

/* Para Telefonos Dise */
@media screen and (max-width:700px){
 .UserInforContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
 }
 .UserImage{
  width: 150px;
 height: 150px;
  margin: 10px auto;
  margin-top: 20px;
  border: 5px solid #aaa;
 }
 .linkcontainer{
  display: flex;
  flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
 }
 #linkR{
  color: var(--colorDominator);
  width: 70%;
  background: #eee;
  margin: 5px 20px;
  border: 1px solid #aaa;
  text-align: center;
  text-decoration: none;
  box-shadow: -2px -2px 2px #fff , 2px 2px 2px #bbb;
 }
}
